MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=indoor_navigation
MONGODB_WIFI_COLLECTION=wifi_fingerprints
MONGODB_AP_COLLECTION=access_points
MONGODB_OBSERVATION_COLLECTION=controller_observations
